/* your css code shoudld be below: */
body{
    width: 100vw;
    height: fit-content;
    margin : 0;
    background-color: lightcoral;
    
  }
  
  .Header{
    width: 100vw;
    height: 120px;
    background-color: aquamarine;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
  .Page1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
  }
  .Image{
  
    width: 600px;
    height: 500px;
    background-color: bisque;
  }
  .TextHalf{
    display: flex;
    flex-direction: column;
  }
  .BodyText {
    width: 400px;
    font-size: 20px;
  }
  .Splitter{
    width: 100%;
    height: 80px;
    background-color:lightgoldenrodyellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
  }
  .Team{
    width: 100%;
    height: 600px;
    display: grid;
    padding-left: 200px;
    padding-top: 200px ;
    padding-bottom: 200px;
  }
  .Footer{
    width: 100%;
    height: 100px;
    background-color: teal;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  .Logo{
    width: 200px;
    height: 90%;
    font-size: 40px;
    font-weight: bold;
    color:white;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  .Note{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
  }


